body{
    margin:0px;
}

.topnav{
    margin:0px;
    background-color: whitesmoke;
    color: black;
}

table{
    border:0px;
    width:100%;
    margin: 0px;
    padding: 0px;
}

th{
    width: 16%;
}

.company_icon_col, .title-right{
    width: 5%;
}

#sign-out{
    display: none;
}
