
.inputBox, .inputSelect {
    width: 350px;
    margin: auto;
    border: #dedede 1px solid;
    box-sizing: border-box;
    padding: 5px;
}

#user-info-form {
    width: 350px;
    margin: auto;
    background-color: white;
    font-family: Arial;
    position: relative;
    top: 3%;
    box-shadow: 1px 1px 5px #444444;
    padding: 20px 40px 20px 40px;
}

.rowData{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-info img{
    max-width: 100px;
    max-height: 100px;
}

.info {
    color: #d30a0a;
    letter-spacing: 2px;
    padding-left: 5px;
    float: right;
}

#user-info-update {
    background-color: #09F;
    border: 1px solid #1398f1;
    font-family: Arial;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 80%;
    border-radius: 30px;
}

#user-info-update:hover{
    background-color: gray;
    color: black;
}

#user_info_page h1 {
    font-weight: normal;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.input-error {
    border: #e66262 1px solid;
}